<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recipient_email %><br>
    <%= f.text_field :recipient_email %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :delay_until_time %><br>
    <%= f.datetime_select :delay_until_time %>
    <%= f.hidden_field 'timezone_offset' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>
  // Set the timezone
  $(function() {
    var d = new Date();
    var time_zone = $('#message_timezone_offset');
    time_zone.val(d.getTimezoneOffset() / 60);
  });
</script>
